<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag ("slide1.jpg") %>
    </div>
    <div class="item">
      <%=image_tag ("slide2.jpg") %>
    </div>
	<div class="item">
      <%=image_tag ("slide3.jpg") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="content">
	<div class="row" id="tri-col">
		<div class="col-md-4">
			<h1>View Inventory</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mauris tortor. Nulla commodo porttitor augue, et maximus nunc finibus vel. 
				Proin ullamcorper erat iaculis lectus faucibus blandit. Quisque viverra justo mi, et lacinia nisl imperdiet eu. Aliquam sit amet erat at mauris scelerisque imperdiet. 
				Nullam consequat turpis sed felis ullamcorper, eu vehicula mi aliquet. Quisque sapien mauris, posuere ac ex sollicitudin, dictum mattis ligula. Integer elementum sodales tellus, 
				vel dignissim dolor malesuada id. Nunc eros metus, sagittis ac libero ut, sollicitudin feugiat est. Vivamus ligula urna, pharetra et enim non, commodo scelerisque eros. 
				Fusce placerat aliquam efficitur. Nunc porta felis a leo convallis, sed auctor mauris tempus.
			</p>
			<p>Pellentesque purus lorem, lacinia in blandit quis, tempus vel erat. Sed ultricies lectus non neque placerat, ut mollis turpis consectetur. In sit amet dolor porta velit faucibus pulvinar. 
				Vivamus iaculis ultrices augue ac volutpat. Vestibulum pharetra sagittis enim. Sed viverra, quam et cursus luctus, urna lacus ultrices libero, sed congue erat nisi gravida metus. 
				Maecenas vitae ligula sed mi convallis aliquet.
			</p>
		</div>
		<div class="col-md-4">
			<h1>Make a Reservation</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mauris tortor. Nulla commodo porttitor augue, et maximus nunc finibus vel. 
				Proin ullamcorper erat iaculis lectus faucibus blandit. Quisque viverra justo mi, et lacinia nisl imperdiet eu. Aliquam sit amet erat at mauris scelerisque imperdiet. 
				Nullam consequat turpis sed felis ullamcorper, eu vehicula mi aliquet. Quisque sapien mauris, posuere ac ex sollicitudin, dictum mattis ligula. Integer elementum sodales tellus, 
				vel dignissim dolor malesuada id. Nunc eros metus, sagittis ac libero ut, sollicitudin feugiat est. Vivamus ligula urna, pharetra et enim non, commodo scelerisque eros. 
				Fusce placerat aliquam efficitur. Nunc porta felis a leo convallis, sed auctor mauris tempus.
			</p>
			<p>Pellentesque purus lorem, lacinia in blandit quis, tempus vel erat. Sed ultricies lectus non neque placerat, ut mollis turpis consectetur. In sit amet dolor porta velit faucibus pulvinar. 
				Vivamus iaculis ultrices augue ac volutpat. Vestibulum pharetra sagittis enim. Sed viverra, quam et cursus luctus, urna lacus ultrices libero, sed congue erat nisi gravida metus. 
				Maecenas vitae ligula sed mi convallis aliquet.
			</p>
		</div>
		<div class="col-md-4">
			<h1>FAQ</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mauris tortor. Nulla commodo porttitor augue, et maximus nunc finibus vel. 
				Proin ullamcorper erat iaculis lectus faucibus blandit. Quisque viverra justo mi, et lacinia nisl imperdiet eu. Aliquam sit amet erat at mauris scelerisque imperdiet. 
				Nullam consequat turpis sed felis ullamcorper, eu vehicula mi aliquet. Quisque sapien mauris, posuere ac ex sollicitudin, dictum mattis ligula. Integer elementum sodales tellus, 
				vel dignissim dolor malesuada id. Nunc eros metus, sagittis ac libero ut, sollicitudin feugiat est. Vivamus ligula urna, pharetra et enim non, commodo scelerisque eros. 
				Fusce placerat aliquam efficitur. Nunc porta felis a leo convallis, sed auctor mauris tempus.
			</p>
			<p>Pellentesque purus lorem, lacinia in blandit quis, tempus vel erat. Sed ultricies lectus non neque placerat, ut mollis turpis consectetur. In sit amet dolor porta velit faucibus pulvinar. 
				Vivamus iaculis ultrices augue ac volutpat. Vestibulum pharetra sagittis enim. Sed viverra, quam et cursus luctus, urna lacus ultrices libero, sed congue erat nisi gravida metus. 
				Maecenas vitae ligula sed mi convallis aliquet.
			</p>
		</div>
	</div>
	
	<div class="row" id="about-col">
		<div class="col-md-12">
			<h1>About Us</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mauris tortor. Nulla commodo porttitor augue, et maximus nunc finibus vel. 
				Proin ullamcorper erat iaculis lectus faucibus blandit. Quisque viverra justo mi, et lacinia nisl imperdiet eu. Aliquam sit amet erat at mauris scelerisque imperdiet. 
				Nullam consequat turpis sed felis ullamcorper, eu vehicula mi aliquet. Quisque sapien mauris, posuere ac ex sollicitudin, dictum mattis ligula. Integer elementum sodales tellus, 
				vel dignissim dolor malesuada id. Nunc eros metus, sagittis ac libero ut, sollicitudin feugiat est. Vivamus ligula urna, pharetra et enim non, commodo scelerisque eros. 
				Fusce placerat aliquam efficitur. Nunc porta felis a leo convallis, sed auctor mauris tempus.
			</p>
			<p>Pellentesque purus lorem, lacinia in blandit quis, tempus vel erat. Sed ultricies lectus non neque placerat, ut mollis turpis consectetur. In sit amet dolor porta velit faucibus pulvinar. 
				Vivamus iaculis ultrices augue ac volutpat. Vestibulum pharetra sagittis enim. Sed viverra, quam et cursus luctus, urna lacus ultrices libero, sed congue erat nisi gravida metus. 
				Maecenas vitae ligula sed mi convallis aliquet.
			</p>
			<p>Maecenas pretium, lacus vel commodo aliquet, turpis ante venenatis tellus, quis posuere neque ex sed nibh. Aliquam consectetur libero mauris, nec porttitor libero vestibulum sit amet. 
				Mauris suscipit tristique turpis in vulputate. Proin eget ex ac ligula finibus posuere. Etiam vestibulum eros ut eros dictum, ac cursus felis ornare. Nulla lacinia maximus velit eu facilisis.
				Maecenas id finibus orci, eget finibus dui. Vestibulum ultricies non urna et aliquet. Etiam commodo nisi ac finibus tincidunt. Quisque a nisl volutpat, placerat justo nec, volutpat dolor. 
				Donec viverra justo neque, euismod scelerisque ante scelerisque non. Nulla et eros venenatis, egestas dolor finibus, sodales massa. In nec neque orci. Curabitur in orci nisi.
			</p>
		</div>
	</div>
</div>
		